@model pts2.Models.client_info

@{
    ViewBag.Title = "Create";
}


<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/client_info/getcountries",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#country').append('<option value="' + value.id + '">' + value.countryname + '</option>');
                });
            }
        })
    });
</script>
<script>
    $(function () {
        $.ajax({
            type: "GET",
            url: "/client_info/GetIndustries",
            datatype: "Json",
            success: function (data) {
                $.each(data, function (index, value) {
                    $('#industry').append('<option value="' + value.id + '">' + value.industryname + '</option>');
                });
            }
        })
    });
</script>

@using (Html.BeginForm())
{
    

    @Html.AntiForgeryToken()

    
        <!-- Content Header (Page header) -->
        <section class="content-header"> </section>
    <section class="content">

        <!-- left column -->
        <!-- general form elements -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Add New Client</h3>
            </div>
            <div class="box-body">
                <div class="row">


                   
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-6">


                        <div class="form-group">

                            <label>First Name</label>

                            @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control"  } })
                            @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label>Last Name</label>

                            @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Company Name</label>

                            @Html.EditorFor(model => model.companyname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.companyname, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Industry</label>

                            @Html.DropDownListFor(model => model.industry, new SelectList(string.Empty, "Value", "Text"), "Please select industry", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.industry, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            @Html.EditorFor(model => model.email_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email_id, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <label>Vat no.</label>

                            @Html.EditorFor(model => model.vat_no, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vat_no, "", new { @class = "text-danger" })


                        </div>




                    </div><div class="col-md-6">


                        <div class="form-group">
                            <label>Country</label>

                            @Html.DropDownListFor(model => model.country, new SelectList(string.Empty, "Value", "Text"), "Please select a country", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })


                        </div>

                        <div class="form-group">
                            <label>Address 1</label>
                            @Html.EditorFor(model => model.address1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address1, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            <label>Address 2</label>
                            @Html.EditorFor(model => model.address2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.address2, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">

                            <label>Mobile No.</label>
                            @Html.EditorFor(model => model.contact1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.contact1, "", new { @class = "text-danger" })

                        </div>


                        <div class="form-group">

                            <label>Phone No.</label>

                            @Html.EditorFor(model => model.contact2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.contact2, "", new { @class = "text-danger" })

                        </div>

                    </div>
                </div>
            </div>
            <div class="box-footer">
               
                <input type="submit" value="Create" class="btn btn-success pull-right" />
                <button onclick="location.href='@Url.Action("Index", "client_info")' ;return false;" class="btn btn-danger pull-right" style="margin-right:8px;">Cancel</button> 
            </div>


        </div>


    </section>





}







<!--- <div>
    @Html.ActionLink("Back to List", "Index")
</div>
    -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}






