@using pts2.Models
@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>

    <link rel="stylesheet" href="~/layout/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/layout/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/layout/blue.css" />

   

</head>
<body class="hold-transition login-page">
<div class="login-box">

    <div class="login-logo">
        <b>Admin</b>
    </div>
    <div class="login-box-body">
     <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {  role = "form" }))
    {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group has-feedback">
       

        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , placeholder = "Email"} )
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        
    </div>

           

    <div class="form-group has-feedback">
       

        @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,  placeholder = "Password" })
        <span class="glyphicon glyphicon-zoom-in form-control-feedback"></span>

        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "col-md-10 text-danger" })

    </div>



    <div class="row">
        <div class="col-xs-4">
            <input type="submit" value="Log in" class="btn btn-primary btn-block btn-flat" />
            </div>
        </div>


        

        }
    </div> </div>

        
   
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body></html>

    