@model pts2.Models.proposal_info

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm("Edit", "proposal_info", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <section class="content-header"> </section>
    <section class="content">

        <!-- left column -->
        <!-- general form elements -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Inquiry</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-6">

                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.eid)

                        <!--  <div class="form-group">
                              @Html.LabelFor(model => model.eid, "eid", htmlAttributes: new { @class = "control-label col-md-2" })
                              <div class="col-md-10">
                                  @Html.DropDownList("eid", null, htmlAttributes: new { @class = "form-control" })
                                  @Html.ValidationMessageFor(model => model.eid, "", new { @class = "text-danger" })
                              </div>
                          </div> -->



                        <div class="form-group">
                            <label>Enquiry</label>

                            @Html.EditorFor(model => model.prop_enquiry, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.prop_enquiry, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Sent Date</label>
                            @Html.EditorFor(model => model.sentdate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sentdate, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Sent To</label>
                            @Html.EditorFor(model => model.sent_to, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sent_to, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            <label>Sent Via</label>

                            @Html.EditorFor(model => model.sent_via, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.sent_via, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <input type="file" name="file" multiple="multiple" />
                            <br />
                      <ul class="attachment">
                          @foreach(var item in Model.pros_attachments)
                          {
                              <li>
                                  <a class="title" href="/proposal_info/Downld/?p=@(item.fileName)&d=@item.fileName">@item.fileName</a>
                                  <a href="javascript:void(0);" data-id="@item.Id" class="deleteItem" style="color:red;"> X </a>
                              </li>
                          }

                      </ul>


</div>


  </div>

</div>

</div>

<div class="box-footer">

                <input type="submit" value="Save" class="btn btn-success pull-right" />
                <button onclick="location.href='@Url.Action("Index", "proposal_info")' ;return false;" class="btn btn-primary pull-right" style="margin-right:8px;">Back</button>

            </div>

        </div>


    </section>
}
<script>
$('.deleteItem').click(function (e) {
           e.preventDefault();
           var $ctrl = $(this);
           if (confirm('Do you really want to delete this file?')) {
               $.ajax({
                   url: '@Url.Action("DeleteFile")',
                type: 'POST',
                data: { id: $(this).data('id') }
                }).done(function (data) {
                if (data.Result == "OK") {
                $ctrl.closest('li').remove();
                }
                else if (data.Result.Message) {
                alert(data.Result.Message);
                }
                }).fail(function () {
                alert("There is something wrong. Please try again.");
                })

                }
    });
</script>
