@model pts2.Models.invoice_main

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>invoice_main</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proposal.prop_enquiry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proposal.prop_enquiry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.proposal_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proposal_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
